body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

#goalInput, #timerDisplay, #noBreakTime, #history, #todoList {
    margin: 10px 0;
}

#timerDisplay {
    font-size: 1.5em;
    color: #ff0000;
}

#noBreakTime {
    font-size: 1em;
    color: #007bff;
}

#history ul {
    list-style-type: none;
    padding: 0;
}

#history li {
    cursor: pointer;
    margin: 5px 0;
    color: #333;
}

/* 定義背景顏色 */
.background-normal {
    background-color: #f5f5dc; /* 米色 */
}

.background-alert {
    animation: alertColor 1s infinite;
}

@keyframes alertColor {
    0% { background-color: #f5f5dc; } /* 米色 */
    50% { background-color: white; }
}

.background-break {
    background-color: #b0c4de; /* 米藍色 */
}
